@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-padding-top: 98px;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1f242d;
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #1f242d;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    padding-left: 2px;
    position: relative;
    padding-bottom: 4px;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-left: 25px;
    position: relative;
    color: #000;
    padding-bottom: 4px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 600;
    transition: .5s ease;
    position: relative;
    padding-bottom: 4px;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 1%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .3s ease;
}

.navbar ul li a:hover::after,
.logo {
    transform: scaleX(1);
}

.logo::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    animation: underlinePulse 1.5s infinite ease-in-out;
}

@keyframes underlinePulse {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

.navbar ul li:hover a,
.logo {
    color: #7cf03d;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 50px;
    padding: 60px 9% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: .45s;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h3 {
    font-size: 32px;
    margin-top: -10px;
    display: inline-block;
}

.home-info h3 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-info h3 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 12px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn,
.contact button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover,
.contact button:hover {
    background-color: transparent;
    color: #7cf03d;
    cursor: pointer;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 2px 8px;
    transition: .5s ease;
}

.home-info .btn-sci .sci a:hover {
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
    transform: scale(1.2);
}

.home-img {
    margin-top: 90px;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent,
            transparent, #7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bar-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bar-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}

.about-section {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    margin: 0 15px 45px 15px;
    margin-top: 0;
    height: 75vh;
}

.about-section .about {
    margin-top: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-section.about p {
    margin-top: 12px;
}

.about-section span {
    font-size: larger;
}

.abouth2 {
    color: white;
    margin-top: 72px;
    text-align: center;
    font-size: 35px;
}

.Portfolio-section {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.Portfolio-section .container {
    width: 100%;
    margin: 15px;
}

.Portfolio-section .container h2 {
    font-size: 45px;
}

.portfolio-grid,
.services-grid {
    display: grid;
    gap: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.services-grid {
    margin-bottom: 15px;
}

.project,
.service {
    display: inline-block;
    background: rgba(49, 48, 48, 0.256);
    padding: 10px;
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: .5px solid rgba(68, 67, 67, 0.289);
    height: 250px;
    width: 330px;
    flex-grow: 1;
    transition: .2s ease;
}

.project,
.service {
    text-align: left;
}

.project:hover,
.service:hover {
    transform: scale(1.02);
    border-color: #7cf03d;
}

.project h3,
.service h3 {
    font-size: 25px;
    color: #7cf03d;
    margin-bottom: 32px;
    margin-left: 10%;
}

.project .p,
.service .p {
    display: inline-block;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 32px;
    padding-left: 0;
}

.project .p p,
.service .p p {
    margin-bottom: 8px;
}

.service {
    margin: 15px;
}

.bg-light {
    color: white;
    text-align: center;
}

.bg-light .container2 h2 {
    font-size: 40px;
    margin-bottom: 35px;
    display: block;
}

.bg-light .container2 {
    display: inline-block;
}

.contact {
    text-align: center;
    padding: 80px 20px;
    background: #1f242d;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #7cf03d;
}

.contact p {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 40px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.socials {
    margin-top: 30px;
}

.socials a {
    display: inline-block;
    margin: 0 3%;
    font-size: 30px;
    background-color: #1f242d;
    color: #7cf03d;
    border: 2px solid #7cf03d;
    padding: 8px 8px;
    padding-bottom: 2px;
    border-radius: 50%;
    transition: .5s ease;
}

.socials a:hover {
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
    transform: scale(1.1);
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 80px;
    color: #1f242d;
    background-color: #ffffff;
}

footer p {
    padding-top: 30px;
}


@media (max-width: 740px) {
    html {
        scroll-padding-top: 140px;
    }

    body .navbar {
        text-align: center;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    .navbar .logo {
        font-size: 20pxpx;
        margin-bottom: 8px;
        font-weight: 800;
        padding-left: 2px;
    }

    .navbar ul {
        text-align: center;
    }

    .home {
        margin-top: 97px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .home-img {
        margin: 0px;
    }

    .home .home-info h1 {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .home .home-info h3 {
        font-size: 24px;
    }

    .home .home-info .home-img {
        margin-left: 22%;
        margin-bottom: 0;
    }

    .about-section {
        text-align: center;
        color: white;
        display: inline-flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
        margin-top: 32px;
    }

    .about {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .home-img .img-box {
        position: relative;
        width: 44vw;
        height: 44vw;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .Portfolio-section {
        margin-top: 6rem;
    }

    .bg-light {
        margin-top: 32px;
        scroll-margin-top: 15px;
    }

    #contact {
        margin-top: 0;
        scroll-margin-top: -70px;
    }
}